<!DOCTYPE html>
<html lang="{% block lang %}eng{% endblock %}">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}Django Apps{% endblock %} </title>

    {% block extraHeader %}{% endblock %}
</head>
<body>
    <div id="top">
        {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}"> {{user.username}} </a>
            <a href="{% url 'users:logout'%}"> Logout </a>
        {% else %}
            <a href="{% url 'users:login' %}"> Login </a>
            <a href="{% url 'users:signup' %}"> Signup </a>
        {% endif %}
    </div>

    {% block body %}

    {% endblock %}

</body>

    {% block extraScript %}{% endblock %}

</html>
